<form action="/bookmarks/new" method="get">
  <input type="submit" value="Add bookmark">
</form>

<ul class="bookmark">
  <% @bookmarks.each do |bookmark| %>
    <li>
      <a href="<%= bookmark.url %>">
        <%= bookmark.title %>
      </a>
      <br>
      <% if bookmark.tags.any? %>
        Tags:
        <ul>
        <% bookmark.tags.each do |tag| %>
          <li><%= tag.name %></li>
        <% end %>
        </ul>
      <% end %>
    </li>
  <% end %>
</ul>
